<div style="margin-top: -105px">
	<div class="row justify-content-md-center text-center">
		<div class="col col-3 bg-white mx-1 Habilidades" style="border-radius:15px 15px 15px 15px; box-shadow: 0 5px 5px 0 gray">
			<h3><i class="bi bi-keyboard"></i> Lenguajes de programacion</h3>
			<p>
				Actualmente estoy adquiriendo conocimientos en lenguajes como C#, JavaScript y HTML/CSS, aplicándolos en proyectos académicos y personales.
			</p>

			<p class="text-primary cabecera">
				Stack:
			</p>

			<p>
				C#, JavaScript, HTML/CSS
			</p>
		</div>
		<div class="col col-3 bg-white mx-1 Habilidades" style="border-radius:15px 15px 15px 15px; box-shadow: 0 5px 5px 0 gray">
			<h3><i class="bi bi-server"></i> Back-End</h3>
			<p>
				Trabajo en el desarrollo de aplicaciones utilizando tecnologías de back-end como ASP.NET y SQL Server, enfocado en la creación de APIs REST y la gestión de bases de datos.
			</p>

			<p class="text-primary cabecera">
				Stack:
			</p>

			<p>
				ASP.NET, SQL Server, Entity Framework
			</p>

			<p class="text-primary cabecera">
				Experiencia:
			</p>

			<ul>
				<li>Web APIs</li>
				<li>ASP.NET MVC</li>
				<li>Entity Framework</li>
				<li>Creación de APIs REST</li>
				<li>Principios SOLID</li>
			</ul>
		</div>
		<div class="col col-3 bg-white mx-1 Habilidades" style="border-radius:15px 15px 15px 15px; box-shadow: 0 5px 5px 0 gray">
			<h3><i class="bi bi-window"></i> Front-End</h3>
			<p>
				Desarrollando interfaces web con HTML, CSS, y JavaScript, aplicando diseño web responsivo y trabajando con frameworks como Bootstrap.
			</p>

			<p class="text-primary cabecera">
				Stack:
			</p>

			<p>
				HTML, CSS, JavaScript, Bootstrap
			</p>

			<p class="text-primary cabecera">
				Experiencia:
			</p>

			<ul>
				<li>Responsive Web Design</li>
				<li>Bootstrap</li>
				<li>Desarrollo de interfaces web</li>
			</ul>

		</div>

	</div>

</div>